body {
  margin: 0;
  font-family: "Cascadia Code";
  background-color: #393939;
  color: var(--color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color: #d9d9d9;
  --inputTextColor: #00FF00;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}